html,body{
    height: 100%;
}

.div1{
    float: left;
    height: 100%;
    width: 55%;

    position: relative;
    left: 25%;

    text-align: center;
    font-family: sans-serif;
}
.b1{
    position: absolute;
    top: 42%;
    left: 50%;
    width: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    vertical-align: middle;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
}
.b2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    vertical-align: middle;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
}
.b3{
    position: absolute;
    top: 58%;
    left: 50%;
    width: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    vertical-align: middle;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
}
input:hover{
    background-color: black;
    color: white;
}
.username{
    float: left;
    padding: 35px;
    font-family: sans-serif;
    font-size: 50px;
}
.a1{
    position: absolute;
    top: 65%;
    left: 48%;
    width: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 22px;
}
.a2{
    position: absolute;
    top: 68%;
    left: 48.5%;
    width: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 22px;
}
